################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/FindIT.Api/bin/
/backend/FindIT.Api/obj/
/.vs/
